
<div class="container-fluid">
  
    <div class="col-xs-6 col-xs-offset-3 header">
      <h3 class="title">My Contacts</h3>
      <input type="text" [(ngModel)]="searchText"  class="form-control" placeholder="Search by name or phone number" />
    </div>
  
    <div class="add-contact-container col-xs-6 col-xs-offset-3">
      <div class="col-xs-4 add-input" *ngIf="inEditMode">
        <label class="control-label">Full name</label>
        <input type="text" [(ngModel)]="contactToAdd.FullName"  class="form-control" placeholder="Contact's name">
      </div>
      <div class="col-xs-4 add-input"  *ngIf="inEditMode">
        <label class="control-label">Phone number</label>
        <input type="text" [(ngModel)]="contactToAdd.Phone"  class="form-control" placeholder="Contact's phone number">
      </div>
  
      <div class="col-xs-12 control-actions">
        <button class="btn btn-danger" *ngIf="inEditMode" (click)="inEditMode=false">Cancel</button>
        <button class="btn btn-primary" (click)="addContact()">{{inEditMode ? 'Save' : 'Add Contact'}}</button>
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-3 contact-list">
      <div *ngIf="contacts">
        <div class="list-group">
            <a class="list-group-item" *ngFor="let contact of contacts | search: searchText">
              <h4 class="list-group-item-heading">Name: {{contact.FullName}}</h4>
              <p class="list-group-item-text">Phone: {{contact.Phone}}</p>
            </a>
          </div>
      </div>
    </div>
  
  </div>