.contact-list {
    margin-top: 20px;
}

.header {
    margin-top: 40px;
}
.header .title {
    margin-bottom: 20px;
}

.new-contact-container {
    margin-top: 20px;
}

.control-actions {
    margin-top: 10px;
}

.control-actions .btn {
    margin-right: 10px;
}

.add-input {
    margin-top: 10px;
}

.add-contact-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}
.search_icon{
    position: absolute;
    top:0;
    right:20px;
}